body {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;
}

form {
  padding: 2%;
}

form > textarea, form > button {
  width: 100%;
  display: block;
  margin: 1% auto;
}

form > input {
  width: 100%;
}

#chat-mgmt {
  background: #999;
}

#chat-window {
  color: #FFF;
  background: #666;
  padding: 5%;
}

.chat-msg {
  background: #88FFFC;
  padding: 1%;
  border-radius: 5px;
}

.chat-msg:nth-of-type(2n) {
  background: #FF8888;
}

@media only screen and (max-width: 1024px) {
  
  main {
    grid-template-columns: auto;
    grid-template-rows: 75vh auto;
  }  

  #chat-mgmt {
    order: 2;
  }
  
  #chat-window {
    order: 1
  }
}
